# Main training requirements
tensorflow-gpu == 1.14.0
numpy == 1.16.4
progressbar2
pandas
six
pyxdg
attrdict

# Requirements for building native_client files
setuptools == 41.0.0

# Requirements for importers
sox
bs4
requests
librosa
soundfile

# Miscellaneous scripts
paramiko >= 2.1
scipy
matplotlib
